<div class="flex-container">
  <div class="form-container">
    <div class="form-header">
      <h3><%= t(:login) %></h3>
    </div>

    <%= form_with url: sessions_path, html: { class: "form" } do |f| %>
      <%= render partial: 'shared/forms/email', locals: { f: f, autofocus: true } %>
      <%= render partial: 'shared/forms/password', locals: { f: f, id: :loginpassword } %>

      <div class="form-split"></div>

      <%= render partial: 'shared/forms/submit', locals: { f: f, text: t(:login) } %>
      <%= render partial: 'shared/forms/alt_submit', locals: { alt_path: new_registration_path, text: t(:no_account) } %>
    <% end %>
  </div>
</div>
