<div class="flex-container">
  <div class="form-container">
    <div class="form-header">
      <h3><%= t(:register) %></h3>
    </div>

    <%= form_with url: registrations_path, html: { class: "form" } do |f| %>

      <%= render partial: 'shared/forms/first_name', locals: { f: f, autofocus: true } %>
      <%= render partial: 'shared/forms/last_name', locals: { f: f } %>
      <%= render partial: 'shared/forms/email', locals: { f: f, autofocus: false } %>
      <%= render partial: 'shared/forms/usertype', locals: { f: f } %>

      <div class="form-split"></div>

      <%= render partial: 'shared/forms/password', locals: { f: f, id: :password } %>
      <%= render partial: 'shared/forms/password_confirmation', locals: { f: f } %>

      <div class="form-split"></div>

      <%= render partial: 'shared/forms/submit', locals: { f: f, text: t(:signup) } %>
      <%= render partial: 'shared/forms/alt_submit', locals: { alt_path: new_session_path, text: t(:have_account) } %>
    <% end %>
  </div>
</div>
